# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

README.html
_testmain.go
sauce.json
t.go
selenium-server-standalone-*.jar
chromedriver*
vendor/*
!vendor/*.go
coverage.txt
coverage.out
.idea/
